<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="main">
	<div>
		<input type="hidden" name="default_date" id="default_date" value='<f:format.htmlentitiesDecode>{currentDate}</f:format.htmlentitiesDecode>' />
      	<input type="hidden" name="news_events" id="news_events" value='<f:format.htmlentitiesDecode>{newsCalenders}</f:format.htmlentitiesDecode>'/>
	</div>
    <div id='calendar'></div>
</f:section>
</html>