<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-spt-newscalender" >
	<tr>
		<td>
			<f:translate key="tx_sptnewscalender_domain_model_newscalender.start_date" />
		</td>
		<td>
		{newsCalender.startDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sptnewscalender_domain_model_newscalender.end_date" />
		</td>
		<td>
		{newsCalender.endDate}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sptnewscalender_domain_model_newscalender.title" />
		</td>
		<td>
		{newsCalender.title}
		</td>
	</tr>
</table>
</html>